footer {
    background-color: #333;
  }
  
  footer h5 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  footer a:hover{
    color:#7a2935;
  }
  
  footer .btn-primary {
    background-color: #f8a54d;
    border: none;
  }
  
  footer .btn-primary:hover {
    background-color: #ff9e38;
  }
  